@import {header.css}


h1 {text-align: center;}

#marrom {width: 40%;}
#marrom {margin-left: 32%;}


body {background-color: antiquewhite;}

#branco {width: 42%;}
#branco {margin-left: 32%;}

h2 {color: rgb(226, 123, 123);}
p {margin-left: 73%;}

